/* p {
  background-color: purple;
  border: 1px purple;
  color: white;
  text-align: center;
  vertical-align: middle;
  float: left;
  width: 250px;
  height: 24px;
  padding: 20px;
} */
