/* .container{
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  vertical-align: middle;
  width: 250px;
  height: 10px;
}

h1{
  padding: 20px;
  background-color:goldenrod;
  border: 1px dashed goldenrod;
  color: white;
  } */
